body{ 
    margin: 0; 
    padding: 0px;
    align-items: center;
    justify-content: center;
 }
/* .bluebox{
    width: 100px;
    height: 100px;
    background-color: blue;
    cursor: pointer;
    position: absolute;
    left: 50%;
} */
.box1{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0 auto; /* Center the box horizontally */
    animation-name: box1;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes box1 {
    0%   { background-color: yellow; transform: translateX(100px) rotate(90deg) ;}
    25%  { background-color: orange; transform: translateX(-100px) rotate(-180deg); }
    50%   { background-color: red; transform: translateX(200px) rotate(90deg);}
    75%  { background-color: black; transform: translateX(-200px) rotate(-180deg); }
    100%  { background-color: green; transform: translateX() rotate(90deg);}
}
.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.2s;
}
.box2:hover{
    background-color: brown;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.2s ,width 0.2s;
}
.box3:hover{
    background-color: brown;
    width: 100%;
}
.box4 {
    width: 100px;
    height: 100px;
    background: blue;
    cursor: pointer;
    margin: 0 auto;
    transition:transform 1s;
  }
    
.box4:hover {
    width: 120px;
    height: 120px;
    background-color: lightskyblue  ;
    transform: rotate(90deg);
}
.box5 {
    width: 100px;
    height: 100px;
    background: blue;
    cursor: pointer;
    margin: 0 auto;
    transition:transform 1s , border-radius 0.2s;
  }
    
.box5:hover {
    width: 150px;
    height: 150px;
    background-color: yellow  ;
    border-radius: 50%;
    transform: rotate(90deg);
}